{% extends 'account/account-base.html' %}
{% import '_macros/forms.html' as forms with context %}

{% block content %}
    <form action="" method="post" class="account-form">
        <h2 class="account-h2">Channel 2</h2>
        {% include '_include/messages.html' %}
        {{ forms.non_field_errors(form) }}
        {{ forms.csrf_input() }}
        {{ forms.field(form.email, show_label=False) }}
        <button type="submit" class="button button-block">Reset Password</button>
        <div class="space-top-30 text-center">
            <a href="{{ url('account.login') }}">Back to Login</a>
        </div>
    </form>
{% endblock %}
