{% extends 'base-common.html' %}
{% load i18n %}

{% block body %}
    <div id="template-{{ TEMPLATE_NAME }}" class="account-container">
        <div class="account-table">
            <div class="account-row">
                <div class="account-cell">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% include '_include/footer.html' %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/app{{ RESOURCE_VERSION }}.js"></script>
{% endblock %}
