{% extends 'base.html' %}
{% import '_macros/utils.html' as utils with context %}

{% set url_account_settings = url('account.settings') %}
{% set url_account_settings_password = url('account.settings.password') %}

{% block content %}
    <div class="tab-list">
        <a href="{{ url_account_settings }}" class="tab-item {{ utils.link_active(url_account_settings) }}">Account Info</a>
        <a href="{{ url_account_settings_password }}" class="tab-item {{ utils.link_active(url_account_settings_password) }}">Change Password</a>
    </div>
    {% block tab_content %}{% endblock %}
{% endblock %}
