{% extends 'base.html' %}

{% block content %}
    <ul class="tl">
        <li class="tli"><a href="#" class="tli-inner"><img src="{{ STATIC_URL }}images/no-image.png"></a></li>
        <li class="tli"><a href="#" class="tli-inner"><img src="{{ STATIC_URL }}images/no-image.png"></a></li>
        <li class="tli"><a href="#" class="tli-inner"><img src="{{ STATIC_URL }}images/no-image.png"></a></li>
        <li class="tli"><a href="#" class="tli-inner"><img src="{{ STATIC_URL }}images/no-image.png"></a></li>
        <li class="tli"><a href="#" class="tli-inner"><img src="{{ STATIC_URL }}images/no-image.png"></a></li>
        <li class="tli"><a href="#" class="tli-inner"><img src="{{ STATIC_URL }}images/no-image.png"></a></li>
        <li class="tli"><a href="#" class="tli-inner"><img src="{{ STATIC_URL }}images/no-image.png"></a></li>
        <li class="tli"><a href="#" class="tli-inner"><img src="{{ STATIC_URL }}images/no-image.png"></a></li>
        <li class="tli"><a href="#" class="tli-inner"><img src="{{ STATIC_URL }}images/no-image.png"></a></li>
        <li class="tli"><a href="#" class="tli-inner"><img src="{{ STATIC_URL }}images/no-image.png"></a></li>
    </ul>
{% endblock %}
