{% extends 'base.html' %}

{% block content %}
    <h2 class="h2-heading">Recently Watched</h2>
    <ul class="tl">
        <li class="tli"><a href="#" class="tli-inner"><img src="{{ STATIC_URL }}images/no-image.png"></a></li>
        <li class="tli"><a href="#" class="tli-inner"><img src="{{ STATIC_URL }}images/no-image.png"></a></li>
        <li class="tli"><a href="#" class="tli-inner"><img src="{{ STATIC_URL }}images/no-image.png"></a></li>
        <li class="tli"><a href="#" class="tli-inner"><img src="{{ STATIC_URL }}images/no-image.png"></a></li>
        <li class="tli"><a href="#" class="tli-inner"><img src="{{ STATIC_URL }}images/no-image.png"></a></li>
    </ul>
    <h2 class="h2-heading">Newly Added</h2>
    <ul class="tl">
        <li class="tli"><a href="#" class="tli-inner"><img src="{{ STATIC_URL }}images/no-image.png"></a></li>
        <li class="tli"><a href="#" class="tli-inner"><img src="{{ STATIC_URL }}images/no-image.png"></a></li>
        <li class="tli"><a href="#" class="tli-inner"><img src="{{ STATIC_URL }}images/no-image.png"></a></li>
        <li class="tli"><a href="#" class="tli-inner"><img src="{{ STATIC_URL }}images/no-image.png"></a></li>
        <li class="tli"><a href="#" class="tli-inner"><img src="{{ STATIC_URL }}images/no-image.png"></a></li>
        <li class="tli"><a href="#" class="tli-inner"><img src="{{ STATIC_URL }}images/no-image.png"></a></li>
        <li class="tli"><a href="#" class="tli-inner"><img src="{{ STATIC_URL }}images/no-image.png"></a></li>
        <li class="tli"><a href="#" class="tli-inner"><img src="{{ STATIC_URL }}images/no-image.png"></a></li>
        <li class="tli"><a href="#" class="tli-inner"><img src="{{ STATIC_URL }}images/no-image.png"></a></li>
        <li class="tli"><a href="#" class="tli-inner"><img src="{{ STATIC_URL }}images/no-image.png"></a></li>
    </ul>
{% endblock %}
