#-------------------------------------------------------------------------------
# General
#-------------------------------------------------------------------------------

__pycache__
*.pyc
.DS_Store
.coverage

media-test

static/css/app.css

#-------------------------------------------------------------------------------
# JetBrains
#-------------------------------------------------------------------------------

.idea
