#-------------------------------------------------------------------------------
# General
#-------------------------------------------------------------------------------

__pycache__

channel2.sqlite3
channel2/localsettings.py

#-------------------------------------------------------------------------------
# JetBrains
#-------------------------------------------------------------------------------

.idea
