#-------------------------------------------------------------------------------
# General
#-------------------------------------------------------------------------------

__pycache__
*.pyc

channel2.sqlite3
channel2/localsettings.py

.DS_Store

#-------------------------------------------------------------------------------
# JetBrains
#-------------------------------------------------------------------------------

.idea
