#------------------------------------------------------------------------------
# Django
#------------------------------------------------------------------------------

Django>=1.8,<1.9

#------------------------------------------------------------------------------
# Other Packages
#------------------------------------------------------------------------------

django-debug-toolbar
django-simple-captcha
Jinja2
jsonfield
Markdown
psycopg2
pytz
SQLAlchemy
Unidecode

#------------------------------------------------------------------------------
# Deployment
#------------------------------------------------------------------------------

gunicorn
