#-------------------------------------------------------------------------------
# Django
#-------------------------------------------------------------------------------

Django==1.7

#-------------------------------------------------------------------------------
# Packages
#-------------------------------------------------------------------------------

django-debug-toolbar==1.2.1
django-simple-captcha==0.4.2
Jinja2==2.7.3
Markdown==2.5.1
Pillow==2.6.0
psycopg2==2.5.4
python-Levenshtein==0.11.2
pytz==2014.7
Unidecode==0.04.16
watchdog==0.8.1

#-------------------------------------------------------------------------------
# Deployment
#-------------------------------------------------------------------------------

gunicorn==19.1.1
