/* --------------------------------------------------
    button styles
---------------------------------------------------*/

.btn {
    .border-radius(5px);
    .inline-block();
    .transition(150ms ease all);

    background-color: @color-accent1;
    border: 1px solid darken(@color-accent1, 10%);
    color: #fff;
    cursor: pointer;
    padding: 12px 16px;
    &:hover {
        background-color: darken(@color-accent1, 10%);
        border-color: darken(@color-accent1, 20%);
    }
}

.btn-block {
    display: block;
    width: 100%;
}
