/* --------------------------------------------------
    placeholder styles
---------------------------------------------------*/

@placeholder-color: #999;

::-webkit-input-placeholder { color: @placeholder-color; }
::-moz-placeholder { color: @placeholder-color; }
:-ms-input-placeholder { color: @placeholder-color; }

/* --------------------------------------------------
    input styles
---------------------------------------------------*/

input[type="email"], input[type="password"] {
    .border-radius(0);

    background: none;
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    height: 46px;
    padding: 10px;
    width: 100%;

    -webkit-appearance: none;
}

input[type="email"] + input[type="password"] { border-top: none; }

/* --------------------------------------------------
    form classes
---------------------------------------------------*/

.form-field {
    margin-bottom: 10px;
}
