/* --------------------------------------------------
    placeholder styles
---------------------------------------------------*/

@placeholder-color: #999;

::-webkit-input-placeholder { color: @placeholder-color; }
::-moz-placeholder { color: @placeholder-color; }
:-ms-input-placeholder { color: @placeholder-color; }

/* --------------------------------------------------
    label styles
---------------------------------------------------*/

label {
    cursor: pointer;
    display: block;
}

/* --------------------------------------------------
    input styles
---------------------------------------------------*/

input[type="email"], input[type="password"], input[type="text"], input[type="number"] {
    .border-radius(0);

    background: none;
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    height: 46px;
    padding: 10px;
    width: 100%;

    -webkit-appearance: none;
}

.form-checkbox {
    .flex-display();
    .align-items(center);

    border: 1px solid #ddd;
    padding: 0 15px;
    height: 46px;
}

textarea {
    background: none;
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    font-family: @font-family-monospace;
    line-height: 1.2;
    max-width: 100%;
    min-width: 100%;
    padding: 10px;

    -webkit-appearance: none;
}

/* --------------------------------------------------
    form classes
---------------------------------------------------*/

.form-group, .form-field {
    margin-bottom: 10px;
}

.form-label-input-unit {
    .flex-display();

    > label {
        background-color: #eee;
        border: 1px solid #ddd;
        border-right: none;
        font-size: 14px;
        font-weight: @font-weight-bold;
        height: 46px;
        line-height: 46px;
        padding: 0 15px;
        text-align: right;
        width: 100px;
    }

    > .form-input-grow { .flex-grow(1); }
}

.help-block {
    color: #666;
    font-size: 13px;
}

/* --------------------------------------------------
    error classes
---------------------------------------------------*/

.form-field.error {
    > input { border-color: @color-accent4; }
}

.error-block {
    background-color: @color-accent4;
    color: #fff;
    display: block;
    font-size: 13px;
    padding: 5px 10px;
}

.non-field-error {
    background-color: @color-accent4;
    color: #fff;
    display: block;
    font-size: 13px;
    margin-bottom: 10px;
    padding: 10px;
}
