/* --------------------------------------------------
    global styles
---------------------------------------------------*/

a {
    color: @color-accent1;
    text-decoration: none;
}

hr {
    border-top: 1px solid #e5e5e5;
    border-right: none;
    border-bottom: 1px solid #fff;
    border-left: none;
}

img {
    display: block;
    max-width: 100%;
    width: 100%;
}

ul {
    list-style-type: none;
}

/* --------------------------------------------------
    badge
---------------------------------------------------*/

.badge {
    .border-radius(3px);
    .inline-block();

    background-color: #666;
    color: #fff;
    font-size: 13px;
    line-height: 24px;
    padding: 0 6px;
}

/* --------------------------------------------------
    breadcrumbs
---------------------------------------------------*/

.breadcrumbs {
    padding: 12px 18px;
    white-space: nowrap;

    > a {
        .inline-block();
        font-weight: @font-weight-bold;
        &:after {
            .inline-block();
            color: #888;
            font-family: 'entypo';
            content: '\e875';
            padding: 0 10px;
            margin-top: 1px;
        }
    }

    > span {
        .inline-block();
        font-weight: @font-weight-bold;
    }
}

/* --------------------------------------------------
    pagination
---------------------------------------------------*/

@pagination-bg:             #fff;
@pagination-bg-hover:       #eee;
@pagination-bg-active:      @color-accent1;
@pagination-border:         #ddd;
@pagination-color-active:   #fff;

.pagination {
    margin: 30px 0 45px;
    overflow: auto;
    white-space: nowrap;

    > li {
        .inline-block();
        background-color: @pagination-bg;
        border: 1px solid @pagination-border;
        border-left: none;
        > span, > a {
            display: block;
            line-height: 36px;
            padding: 0 15px;
        }
        &:first-child {
            .border-radius(5px 0 0 5px);
            border-left: 1px solid @pagination-border;
        }
        &:last-child {
            .border-radius(0 5px 5px 0);
        }
        &.disabled:hover {
            background-color: @pagination-bg;
            cursor: not-allowed;
        }
        &:hover { background-color: @pagination-bg-hover; }
        &.active {
            background-color: @pagination-bg-active;
            border-color: @pagination-bg-active;
            > a, > span { color: @pagination-color-active; }
        }
    }
}

.pagination-nav {
    .inline-block();
}

/* --------------------------------------------------
    global classes
---------------------------------------------------*/

.right  { float: right; }
.left   { float: left; }
.clear  { clear: both; }

.block  { display: block; }
.inline { display: inline; }
.none   { display: none; }
