/* --------------------------------------------------
    flex styles
---------------------------------------------------*/

.flex               { .flex-display(); }

.flex-grow-1        { .flex-grow(1); }
.flex-grow-2        { .flex-grow(2); }
.flex-grow-3        { .flex-grow(3); }
.flex-grow-4        { .flex-grow(4); }
.flex-grow-5        { .flex-grow(5); }

.width-180          { width: 180px; }
.width-400          { width: 400px; }

/* --------------------------------------------------
    conditional display
---------------------------------------------------*/

@media screen and (max-width: @screen-xs1) {
    .min-xs { display: none !important; }
}
@media screen and (min-width: @screen-xs) {
    .max-xs { display: none !important; }
}

@media screen and (max-width: @screen-sm1) {
    .min-sm { display: none !important; }
}
@media screen and (min-width: @screen-sm) {
    .max-sm { display: none !important; }
}

@media screen and (max-width: @screen-md1) {
    .min-md { display: none !important; }
}
@media screen and (min-width: @screen-md) {
    .max-md { display: none !important; }
}

@media screen and (max-width: @screen-lg1) {
    .min-lg { display: none !important; }
}
@media screen and (min-width: @screen-lg) {
    .max-lg { display: none !important; }
}
