/* --------------------------------------------------
    markdown styles
---------------------------------------------------*/

.markdown-preview {
    border: 1px dashed #444;
    margin-bottom: 10px;
    padding: 10px;
}

.markdown > :last-child {
    margin-bottom: 0;
}
