/* --------------------------------------------------
    markdown preview
---------------------------------------------------*/

.markdown-preview {
    border: 1px dashed #ddd;
    padding: 10px;
}

/* --------------------------------------------------
    markdown
---------------------------------------------------*/

.markdown {
    overflow: auto;

    p { margin-bottom: 15px; }

    > :last-child { margin-bottom: 0; }
}
