/* --------------------------------------------------
    markdown preview
---------------------------------------------------*/

.markdown-preview {
    border: 1px dashed #ddd;
    padding: 10px;
}

/* --------------------------------------------------
    markdown
---------------------------------------------------*/

.markdown {
    overflow: auto;

    p { margin-bottom: 15px; }

    ul {
        list-style-type: disc;
        margin-bottom: 15px;
    }
    li {
        margin-left: 30px;
    }

    > :last-child { margin-bottom: 0; }
}
