/* --------------------------------------------------
    table styles
---------------------------------------------------*/

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 5px;
}

th {
    font-weight: @font-weight-bold;
}

td {
    border-top: 1px solid #ddd;
}
