/* -----------------------------------------------------------------------------
    table styles
----------------------------------------------------------------------------- */

table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

tr:nth-of-type(odd) { background-color: #3b3b3b; }
tr:nth-of-type(even) {}

td {
    font-size: 15px;
    padding: 3px;
}

tr.active > td {
    background-color: #666;
    a { color: #eee; }
}
