/* -----------------------------------------------------------------------------
    tab styles
----------------------------------------------------------------------------- */

@border-color:  #444;

.tab-list {
    border-bottom: 1px solid @border-color;
    margin-bottom: 20px;
    white-space: nowrap;
}
.tab-item {
    .inline-block();
    background-color: #3b3b3b;
    border: 1px solid @border-color;
    color: #ccc;
    margin: 0 5px -1px;
    padding: 10px;

    &.active {
        background-color: #333;
        border-bottom: 1px solid #333;
        color: #eee;
    }
}
