/* -----------------------------------------------------------------------------
    typography styles
----------------------------------------------------------------------------- */

a, button, input, p {
    font-size: @base-font-size;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
}

/* -----------------------------------------------------------------------------
    typography classes
----------------------------------------------------------------------------- */

.text-center { text-align: center; }
