/* -----------------------------------------------------------------------------
    typography styles
----------------------------------------------------------------------------- */

a, button, input, p {
    font-size: @base-font-size;
}
button {
    font-weight: 700;
}


/* -----------------------------------------------------------------------------
    typography classes
----------------------------------------------------------------------------- */

.text-center { text-align: center; }
