/* --------------------------------------------------
    typography
---------------------------------------------------*/

@font-family-base:          'Roboto', sans-serif;
@font-family-monospace:     'Inconsolata', monospace;

@font-size-base:            15px;

@font-weight-base:          400;
@font-weight-bold:          700;

@line-height-base:          1.6;
@line-height-headings:      1.2;

/* --------------------------------------------------
    grid breakpoints
---------------------------------------------------*/

@screen-xs1:                599px;
@screen-xs:                 600px;

@screen-sm1:                767px;
@screen-sm:                 768px;

@screen-md1:                959px;
@screen-md:                 960px;

/* --------------------------------------------------
    colors
---------------------------------------------------*/

@color-bg:                  #f6f6f6;

@color-accent1:             darken(#428bca, 10%);
@color-accent2:             darken(#5cb85c, 10%);
@color-accent3:             darken(#f0ad4e, 10%);
@color-accent4:             darken(#d9534f, 10%);
@color-accent5:             darken(#5bc0de, 10%);
