/* --------------------------------------------------
    typography
---------------------------------------------------*/

@font-family-base:          'Open Sans', sans-serif;
@font-family-monospace:     'Inconsolata', monospace;

@font-size-base:            15px;
@font-weight-base:          400;
@font-weight-bold:          600;

@line-height-base:          1.6;
@line-height-headings:      1.2;

/* --------------------------------------------------
    grid breakpoints
---------------------------------------------------*/

@screen-xs1:                599px;
@screen-xs:                 600px;

@screen-sm1:                767px;
@screen-sm:                 768px;

@screen-md1:                1023px;
@screen-md:                 1024px;

/* --------------------------------------------------
    colors
---------------------------------------------------*/

@color-bg:                  #ffffff;

@color-accent1:             #428bca;
@color-accent2:             #5cb85c;
@color-accent3:             #f0ad4e;
@color-accent4:             #d9534f;
@color-accent5:             #5bc0de;

/* --------------------------------------------------
    other variables
---------------------------------------------------*/

@nav-width: 240px;

@hr-top:                    1px solid #ddd;
@hr-bottom:                 1px solid #fff;

/* --------------------------------------------------
    buttons
---------------------------------------------------*/

@bg:                    #eee;
@border:                #bbb;
@color:                 #000;
@bg-active:             #ddd;
@border-active:         #bbb;

@primary-bg:            @color-accent1;
@primary-border:        darken(@color-accent1, 10%);
@primary-color:         #fff;
@primary-bg-active:     darken(@color-accent1, 10%);
@primary-border-active: darken(@color-accent1, 20%);

@warning-bg:            @color-accent3;
@warning-border:        darken(@color-accent3, 10%);
@warning-color:         #fff;
@warning-bg-active:     darken(@color-accent3, 10%);
@warning-border-active: darken(@color-accent3, 20%);

@error-bg:              @color-accent4;
@error-border:          darken(@color-accent4, 10%);
@error-color:           #fff;
@error-bg-active:       darken(@color-accent4, 10%);
@error-border-active:   darken(@color-accent4, 20%);

@disabled-bg:           #bbb;
@disabled-border:       #aaa;
@disabled-color:        #fff;
