/* --------------------------------------------------
    typography
---------------------------------------------------*/

@font-family-base:          'Open Sans', sans-serif;
@font-family-monospace:     'Inconsolata', monospace;

@font-size-base:            15px;
@font-size-small:           13px;

@font-size-h1:              36px;
@font-size-h2:              30px;
@font-size-h3:              24px;
@font-size-h4:              18px;
@font-size-h5:              15px;
@font-size-h6:              12px;

@font-weight-base:          400;
@font-weight-bold:          600;

@line-height-base:          1.6;
@line-height-headings:      1.2;

/* --------------------------------------------------
    grid breakpoints
---------------------------------------------------*/

@screen-xs1:                599px;
@screen-xs:                 600px;

@screen-sm1:                767px;
@screen-sm:                 768px;

@screen-md1:                959px;
@screen-md:                 960px;

@screen-lg1:                1279px;
@screen-lg:                 1280px;

/* --------------------------------------------------
    miscellaneous
---------------------------------------------------*/

@border-radius:             2px;
@nav-width:                 180px;

/* --------------------------------------------------
    colors
---------------------------------------------------*/

@color-bg:                  #f6f6f6;

@color-accent1:             #428bca;
@color-accent2:             #5cb85c;
@color-accent3:             #f0ad4e;
@color-accent4:             #d9534f;
@color-accent5:             #5bc0de;

/* --------------------------------------------------
    miscellaneous
---------------------------------------------------*/

@link-color:                @color-accent1;

@badge-bg:                  #666;
@badge-color:               #fff;

/* --------------------------------------------------
    button variables
---------------------------------------------------*/

@btn-bg:                    #eee;
@btn-border:                #bbb;
@btn-color:                 #000;
@btn-bg-active:             #ddd;
@btn-border-active:         #bbb;

@btn-primary-bg:            @color-accent1;
@btn-primary-border:        darken(@color-accent1, 10%);
@btn-primary-color:         #fff;
@btn-primary-bg-active:     darken(@color-accent1, 10%);
@btn-primary-border-active: darken(@color-accent1, 20%);

/* --------------------------------------------------
    form variables
---------------------------------------------------*/

@input-bg:                  #fff;
@input-border:              #ddd;

@input-error-msg:           #fff;
@input-error-msg-bg:        @color-accent4;

/* --------------------------------------------------
    base variables
---------------------------------------------------*/

@header-bg:                 #222;
@header-bg-alt:             #444;
@header-height:             50px;
@header-color:              #ccc;
@header-color-active:       #fff;

@nav-bg:                    #ddd;
@nav-border:                #ccc;
@nav-border-alt:            #eee;
@nav-color:                 #000;

/* --------------------------------------------------
    tag variables
---------------------------------------------------*/

@tag-list-item-bg:              #fff;
@tag-list-item-border:          #ddd;
@tag-list-item-border-hover:    #999;
