from channel2.core.utils import email_admin_limit

SECRET_KEY = '{{ secret_key }}'

ADMINS = [
    ('Derek Kwok', 'derek.kai.chun.kwok@gmail.com'),
]

RESOURCE_VERSION = '{{ resource_version.stdout }}'

ALLOWED_HOSTS = ['{{ fqdn }}']
SESSION_COOKIE_DOMAIN = '{{ fqdn }}'

MEDIA_ROOT = '/var/www/channel2/media'

STATIC_ROOT = '/var/www/channel2/static/{}'.format(RESOURCE_VERSION)
STATIC_URL = '/static/{}/'.format(RESOURCE_VERSION)

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'channel2',
        'USER': 'channel2_user',
        'PASSWORD': '{{ db_password }}',
        'HOST': 'localhost',
        'PORT': '5432',
    },
}

SITE_DOMAIN = 'channel2.derekkwok.net'
SITE_SCHEME = 'http'

EMAIL_HOST = 'smtp.gmail.com'
EMAIL_PORT = '587'
EMAIL_HOST_USER = 'derek.kai.chun.kwok@gmail.com'
EMAIL_HOST_PASSWORD = '{{ email_password }}'
EMAIL_USE_TLS = True

FFMPEG_PATH = '/usr/local/bin/ffmpeg'
VIDEO_DIR = '/var/www/downloads'
VIDEO_LINK_EXPIRE = 24 * 60 * 60
X_ACCEL = True

#-------------------------------------------------------------------------------
# logging settings
#-------------------------------------------------------------------------------

LOGGING = {
    'version': 1,
    'disable_existing_loggers': True,

    # formatters
    'formatters': {
        'simple': {
            'format': '%(asctime)s - %(name)s - %(levelname)s - %(message)s',
            'datefmt': '%Y-%m-%d %H:%M:%S',
        },
    },

    # filters
    'filters': {
        'email_admin_limit': {
            '()': 'django.utils.log.CallbackFilter',
            'callback': email_admin_limit,
        }
    },

    # handlers
    'handlers': {
        'email_admin': {
            'level': 'ERROR',
            'filters': ['email_admin_limit'],
            'class': 'django.utils.log.AdminEmailHandler',
        },
        'channel2': {
            'level': 'WARNING',
            'class': 'logging.handlers.TimedRotatingFileHandler',
            'filename': '/var/www/channel2/logs/channel2.log',
            'encoding': 'utf-8',
            'when': 'midnight',
            'backupCount': 14,
            'utc': True,
        },
    },

    # loggers
    'loggers': {
        '': {
            'handlers': ['channel2'],
            'level': 'INFO',
            'propagate': True,
        },
        'django.request': {
            'handlers': ['email_admin', 'channel2'],
            'level': 'INFO',
            'propagate': True,
        },
    },
}
