{% extends 'base.html' %}
{% import '_macros/forms.html' as forms with context %}

{% block content %}
    <div class="page-header space-bottom-15">
        <h2 class="page-title">{% trans %}Import Videos{% endtrans %}</h2>
    </div>
    <form action="" method="post">
        {{ forms.csrf_input() }}
        {{ formset.management_form|safe }}
        <table class="space-bottom-15">
            <thead>
                <tr>
                    <th width="25"></th>
                    <th width="25"></th>
                    <th>{% trans %}File name{% endtrans %}</th>
                    <th width="35%">{% trans %}Name{% endtrans %}</th>
                    <th width="25%">{% trans %}Tag{% endtrans %}</th>
                </tr>
            </thead>
            <tbody class="staff-video-list">
                {% for form in formset %}
                    <tr>
                        <td width="25">{{ forms.simple_field(form.select) }}</td>
                        <td width="25">{{ forms.simple_field(form.ORDER) }}</td>
                        <td>
                            <label for="{{ form.select.auto_id }}" class="staff-video-add-label">{{ form.filename.value() }}</label>
                            {{ forms.simple_field(form.filename) }}
                        </td>
                        <td width="25%">{{ forms.simple_field(form.name) }}</td>
                        <td width="25%">{{ forms.simple_field(form.tag) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">{% trans %}Add Videos{% endtrans %}</button>
    </form>
    <datalist id="tags">
        {% for tag in tag_list %}
            <option value="{{ tag }}"></option>
        {% endfor %}
    </datalist>
{% endblock %}
