{% extends 'base.html' %}

{% block content %}
    <div class="help-content">
        <h3>What do I need to play the videos?</h3>
        <p>The videos are encoded in h264 and uses the mp4 container. These video files can be played by the following devices and browsers:</p>
        <ul class="bullet-list">
            <li>iPhone, iPad and iPod Touch</li>
            <li>All Android Devices</li>
            <li>Windows Phone 8+</li>
            <li>Google Chrome and Safari</li>
        </ul>
    </div>
    <div class="help-content">
        <h3>I have an anime/movie/tv-series that I want on Channel 2!</h3>
        <p>Talk to me. If I can get my hands on the video and encode them for the Channel 2, I can probably put it up.</p>
    </div>
    <div class="help-content">
        <h3>I want to change my password.</h3>
        <p>This feature is coming soon. Also try bugging Derek so he will implement this feature.</p>
    </div>
    <div class="help-content">
        <h3>What did you use to build Channel 2?</h3>
        <p>What you are looking at is built with HTML, CSS and Javascript. The web application itself is built with Python+Django running on an Ubuntu server.</p>
    </div>
    <div class="help-content">
        <h3>Channel 2 sucks.</h3>
        <p><strong>*Sigh*</strong> Help me out by telling me what features you want and what can improved.</p>
    </div>
    <div class="help-content">
        <h3>Channel 2 is awesome.</h3>
        <p>Thanks! I currently accept donations in the form of a beer :)</p>
    </div>
    <div class="help-content">
        <h3>I have other questions.</h3>
        <p>You can call me, <a href="mailto:derek.kai.chun.kwok@gmail.com">email me</a> or even ask me in person.</p>
    </div>
{% endblock %}
