{% import '_macros/forms.html' as forms with context %}

{% set url_home = url('home') %}
{% set url_search = '' %}

<header>
    <span class="icon icon-menu max-sm" id="header-mobile-menu"></span>
    <a href="{{ url_home }}" id="header-logo" class="min-sm">Channel 2</a>
    <form action="{{ url_search }}" method="get" id="header-search-form">
        <span class="icon icon-search"></span>
        <input type="text" name="q" value="{{ request.GET.q }}" placeholder="Search">
    </form>
    <a href="" class="header-link">
        <span id="header-gravatar"><img src="//www.gravatar.com/avatar/{{ GRAVATAR_HASH }}?s=102"></span>
        <span class="space-left-10 min-sm">Settings</span>
    </a>
    <a class="header-link" onclick="document.getElementById('header-logout-form').submit();">
        <span class="icon icon-logout"></span>
        <span class="space-left-5 min-sm">Logout</span>
    </a>
</header>
<form action="{{ url('account.logout') }}" method="post" id="header-logout-form" class="none">
    {{ forms.csrf_input() }}
</form>
