{% import '_macros/forms.html' as forms with context %}

<header>
    <span class="icon icon-menu max-md" id="header-mobile-menu-icon"></span>
    <a href="{{ url('video.list') }}" id="header-logo">Channel 2</a>
    <a href="#" class="icon icon-search max-xs" id="header-mobile-search-icon"></a>
    <form action="" method="get" class="min-xs" id="header-search-form">
        <input type="text" placeholder="{% trans %}Search Channel 2...{% endtrans %}">
    </form>
    <span class="min-sm">{{ user.email }}</span>
    <a onclick="document.getElementById('header-logout-form').submit();" class="icon icon-logout min-xs" id="header-logout-icon" title="{% trans %}Logout{% endtrans %}"></a>
</header>
<form action="" method="post" id="header-logout-form">
    {{ forms.csrf_input() }}
</form>
