{% set url_home = url('home') %}
{% set url_staff_user_add = url('staff.user.add') %}
{% set url_tag_list = url('tag.list') %}
{% set url_video_history = url('video.history') %}

<nav>
    <span class="nav-header">Guide</span>
    <a href="{{ url_home }}" class="nav-link">
        <span class="icon icon-home"></span>
        <span>Home</span>
    </a>
    <a href="{{ url_tag_list }}" class="nav-link">
        <span class="icon icon-tag"></span>
        <span>All Tags</span>
    </a>
    <a href="{{ url_video_history }}" class="nav-link">
        <span class="icon icon-clock"></span>
        <span>History</span>
    </a>
    <span class="nav-header">Pinned</span>
    {% for tag in PINNED_TAG_LIST %}
        {% set url_tag = url('tag', args=[tag.id, tag.slug]) %}
        <a href="{{ url_tag }}" class="nav-link">
            <span class="icon icon-right-open"></span>
            <span>{{ tag.name }}</span>
        </a>
    {% endfor %}
    {% if user.is_staff %}
        <span class="nav-header">Admin</span>
        <a href="{{ url_staff_user_add }}" class="nav-link">
            <span class="icon icon-user-add"></span>
            <span>Add User</span>
        </a>
    {% endif %}
</nav>
