{% import '_macros/utils.html' as utils with context %}

{% set url_tag_list = url('tag.list') %}
{% set url_video_list = url('video.list') %}

<nav>
    <a href="{{ url_video_list }}" class="nav-item {{ utils.link_active(url_video_list) }}"><span class="icon icon-clock"></span> {% trans %}Latest{% endtrans %}</a>
    {% for tag in PINNED_TAG_LIST %}
        {% set url_tag = url('tag', args=[tag.id, tag.slug]) %}
        <a href="{{ url_tag }}" class="nav-item {{ utils.link_active(url_tag) }}"><span class="icon icon-right-open"></span> {{ tag.name }}</a>
    {% endfor %}
    <a href="{{ url_tag_list }}" class="nav-item {{ utils.link_active(url_tag_list) }}"><span class="icon icon-tag"></span> {% trans %}All Tags{% endtrans %}</a>
    <hr class="nav-sep">
    {% if user.is_staff %}
        <a href="#" class="nav-item"><span class="icon icon-plus-squared"></span> {% trans %}Add Video{% endtrans %}</a>
        <a href="#" class="nav-item"><span class="icon icon-users"></span> {% trans %}Account List{% endtrans %}</a>
        <hr class="nav-sep">
    {% endif %}
    <a href="#" class="nav-item max-sm"><span class="icon icon-cog"></span> {% trans %}Preferences{% endtrans %}</a>
    <a class="nav-item max-xs" onclick="document.getElementById('header-logout-form').submit();"><span class="icon icon-logout"></span> {% trans %}Logout{% endtrans %}</a>
    <a href="#" class="nav-item"><span class="icon icon-help-circled"></span> {% trans %}Help{% endtrans %}</a>
</nav>
