{% extends 'base.html' %}
{% import '_macros/widgets.html' as widgets with context %}

{% block content %}
    <div class="page-header">
        <h2 class="page-title">{% trans %}Search Results{% endtrans %}</h2>
    </div>
    {% for video in video_list %}
        {{ widgets.video(video) }}
    {% else %}
        {% if request.GET.q %}
            <p class="space-top-15">{% trans %}Sorry, no results were found for your search term.{% endtrans %}</p>
        {% else %}
            <p class="space-top-15">{% trans %}Please enter a search term.{% endtrans %}</p>
        {% endif %}
    {% endfor %}
    {% if page.paginator.num_pages > 1 %}
        <div class="filter-bar">
            <form action="" method="get" class="right">
                {{ widgets.pagination(page) }}
            </form>
            <span class="btn back-to-top"><span class="icon icon-up-circled space-right"></span>{% trans %}Back to Top{% endtrans %}</span>
        </div>
    {% endif %}
{% endblock %}
