{% load i18n humanize %}
<ul class="vl">
    {% for video in video_list %}
        <li class="vli">
            <a href="{% url 'video' video.id video.slug %}" class="block">
                <div class="vli-cover">
                    {% if video.cover %}
                        <img src="{{ video.cover.url }}">
                    {% else %}
                        <img src="{{ STATIC_URL }}images/no-preview.png">
                    {% endif %}
                </div>
                <div class="vli-info">
                    <span class="block text-bold">{{ video.name }}</span>
                    {% if video.file %}
                        <span class="text-small text-muted right">{{ video.file.size|filesizeformat }}</span>
                        <span class="text-small text-muted">{% blocktrans with date=video.created_on|naturaltime %}added {{ date }}{% endblocktrans %}</span>
                    {% endif %}
                </div>
            </a>
        </li>
    {% endfor %}
</ul>
