{% extends 'base.html' %}

{% if video.cover %}
    {% set poster_url = video.cover.url %}
{% else %}
    {% set poster_url = "{{ STATIC_URL }}images/no-preview.png" %}
{% endif %}

{% block content %}
    <div class="page-header space-bottom-15">
        <h2 class="page-title">{{ video.name }}</h2>
        <div class="page-tag-list">
            <a href="{{ url('tag', args=[video.tag.id, video.tag.slug]) }}" class="page-tag">{{ video.tag.name }}</a>
        </div>
    </div>
    <video controls autoplay poster="{{ poster_url }}">
        <source src="{{ url('video.link', args=[link.key, video.slug]) }}" type="video/mp4">
        <p>{% trans %}Your browser does not support the video tag.{% endtrans %}</p>
    </video>
    {% if prev %}
        <a href="{{ url('video.html5', args=[prev.id, prev.slug]) }}">{{ prev.name }}</a>
    {% endif %}
    {% if next %}
        <a href="{{ url('video.html5', args=[next.id, next.slug]) }}">{{ next.name }}</a>
    {% endif %}
{% endblock %}
