{% extends 'base.html' %}
{% import '_macros/widgets.html' as widgets with context %}

{% block content %}
    <h2 class="tag-heading">{% trans %}Latest{% endtrans %}</h2>
    {% for video in video_list %}
        {{ widgets.video(video, [video.tag] + video.tag.children.all()[:]) }}
    {% endfor %}
    <div class="filter-bar">
        <form action="" method="get" class="right">
            {{ widgets.pagination(video_list) }}
        </form>
        <span class="btn back-to-top"><span class="icon icon-up-circled space-right"></span>{% trans %}Back to Top{% endtrans %}</span>
    </div>
{% endblock %}
