{% extends 'base.html' %}

{% block content %}
    <h2 class="h2-heading">History</h2>
    {% if video_list %}
        <div class="tl-no-columns">
            {% for video in video_list %}
                {% set url_video = url('video', args=[video.id, video.slug]) %}
                <div class="tli">
                    <a href="{{ url_video }}" class="left">
                        <span class="icon icon-down-circled tli-icon tli-icon-short"></span>
                    </a>
                    <a href="{{ url_video }}" class="block">
                        <span class="icon icon-play tli-icon"></span>
                        <span>{{ video.name }}</span>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>You have not watched anything.</p>
    {% endif %}
{% endblock %}
