{% extends 'base.html' %}
{% import '_macros/widgets.html' as widgets with context %}

{% block content %}
    <div class="page-header">
        <a href="{{ url('blog.post.add') }}" class="min-xs page-edit-link">{% trans %}New Post{% endtrans %}</a>
        <h2 class="page-title">{% trans %}Blog{% endtrans %}</h2>
    </div>
    {% for blog_post in blog_post_list %}
        <div class="bp{% if loop.last %} bp-last{% endif %}">
            <a href="{{ url('blog.post.edit', args=[blog_post.id, blog_post.slug]) }}" class="min-xs right">{% trans %}Edit{% endtrans %}</a>
            <h3 class="bp-title">{{ blog_post.title }}</h3>
            <p class="bp-date">{% trans posted_on=blog_post.created_on|date %}Posted {{ posted_on }}{% endtrans %}</p>
            <div class="markdown bp-html">{{ blog_post.html|safe }}</div>
        </div>
    {% endfor %}
    <div class="filter-bar">
        <form action="" method="get" class="right">
            {{ widgets.pagination(blog_post_list) }}
        </form>
        <span class="btn back-to-top"><span class="icon icon-up-circled space-right"></span>{% trans %}Back to Top{% endtrans %}</span>
    </div>
{% endblock %}
