/* -----------------------------------------------------------------------------
    nav styles
----------------------------------------------------------------------------- */

@nav-item-height: 36px;

.nav-section {}

.nav-link {
    line-height: @nav-item-height;
    color: #000;
    display: block;
    padding: 3px;

    &.active {}
    &:hover { background-color: #ddd; }
}

.nav-icon {
    .inline-block();

    background-color: @color-accent3;
    color: #fff;
    font-size: 18px;
    height: @nav-item-height;
    line-height: @nav-item-height;
    margin-right: 10px;
    text-align: center;
    width: @nav-item-height;
}

@media screen and (min-width: @screen-md) {
    nav {
        padding: 20px;
        width: @nav-width;

        position: fixed;
        top: 50px;
        left: 0;
        bottom: 0;
        z-index: 750;
    }
}

@media screen and (max-width: @screen-md1) {
    nav {
        background-color: #eee;
        padding: 20px;

        position: fixed;
        top: 50px;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 750;
    }
}
