/* -----------------------------------------------------------------------------
    video tag list
----------------------------------------------------------------------------- */

.video-container {
    background-color: #000;
    margin-bottom: 20px;
}

@media screen and (max-width: @screen-md1) {
    .video-container {
        margin: -15px -15px 20px;
    }
}

video {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
}

@media screen and (max-height: 799px) {
    .video-container, video {
        max-height: 480px;
    }
}
@media screen and (min-height: 800px) {
    .video-container, video {
        max-height: 720px;
    }
}
