{% macro pagination(page) %}
    <div class="pagination">
        {% if page.has_previous() %}
            <a href="?{{ (request.GET|exclude_keys('p')).urlencode() }}&p={{ page.previous_page_number() }}" class="icon icon-left-open pagination-prev"></a>
        {% else %}
            <span class="icon icon-left-open pagination-prev"></span>
        {% endif %}
        <div class="pagination-control">
            <input type="text" value="{{ request.GET.p or 1 }}" name="p">
            <span class="min-xs">of {{ page.paginator.num_pages }}</span>
        </div>
        {% if page.has_next() %}
            <a href="?{{ (request.GET|exclude_keys('p')).urlencode() }}&p={{ page.next_page_number() }}" class="icon icon-right-open pagination-next"></a>
        {% else %}
            <span class="icon icon-right-open pagination-next"></span>
        {% endif %}
    </div>
{% endmacro %}

{% macro tag_list(tl) %}
    {% for tag in tl %}
        <a href="{{ url('tag', args=[tag.id, tag.slug]) }}" class="tli-simple" title="{{ tag.name }}">{{ tag.name }}</a>
    {% endfor %}
{% endmacro %}

{% macro video(obj, tl=None) %}
    {% set url_video = url('video', args=[obj.id, obj.slug]) %}
    <div class="vli-wrapper">
        <div class="vli">
            {% if obj.cover %}
                <a href="{{ url_video }}" class="vli-cover" target="_blank">
                    <img src="{{ obj.cover.url }}">
                </a>
            {% endif %}
            <div class="vli-info">
                <p class="vli-title">{{ obj.name }}</p>
                {% if tl %}
                    <div class="space-bottom-10 min-xs">
                        <div class="tl-simple">{{ tag_list(tl) }}</div>
                    </div>
                {% endif %}
                <p class="vli-help-text space-bottom-0">{% trans added_on=obj.created_on|naturaltime %}Added {{ added_on }}{% endtrans %}</p>
                <p class="vli-help-text">{{ obj.size|filesizeformat }}</p>
                <a href="{{ url_video }}" class="btn btn-small space-right-5" target="_blank"><span class="icon icon-play"></span>{% trans %}Play{% endtrans %}</a>
                <a href="{{ url_video }}?download=true" class="btn btn-warning btn-small"><span class="icon icon-down-circled"></span>{% trans %}Download{% endtrans %}</a>
            </div>
        </div>
    </div>
{% endmacro %}
