{% macro pagination(page) %}
    <div class="pagination">
        {% if page.has_previous() %}
            <a href="?{{ (request.GET|exclude_keys('p')).urlencode() }}&p={{ page.previous_page_number() }}" class="icon icon-left-open pagination-prev"></a>
        {% else %}
            <span class="icon icon-left-open pagination-prev"></span>
        {% endif %}
        <div class="pagination-control">
            <input type="text" value="{{ request.GET.p or 1 }}" name="p">
            <span class="min-xs">of {{ page.paginator.num_pages }}</span>
        </div>
        {% if page.has_next() %}
            <a href="?{{ (request.GET|exclude_keys('p')).urlencode() }}&p={{ page.next_page_number() }}" class="icon icon-right-open pagination-next"></a>
        {% else %}
            <span class="icon icon-right-open pagination-next"></span>
        {% endif %}
    </div>
{% endmacro %}

{% macro tag_list(tl) %}
    {% for tag in tl %}
        <a href="{{ url('tag', args=[tag.id, tag.slug]) }}" class="tli-simple" title="{{ tag.name }}">{{ tag.name }}</a>
    {% endfor %}
{% endmacro %}

{% macro video(obj, tl=None) %}
    {% set url_video = url('video', args=[obj.id, obj.slug]) %}
    <div class="vli">
        <h3 class="vli-title max-xs space-bottom-5">{{ obj.name }}</h3>
        <a href="{{ url_video }}" class="vli-cover" target="_blank">
            {% if obj.cover %}
                <img src="{{ obj.cover.url }}">
            {% else %}
                <img src="{{ STATIC_URL }}images/no-preview.png">
            {% endif %}
        </a>
        <div class="vli-info">
            <h3 class="vli-title min-xs">{{ obj.name }}</h3>
            <p class="vli-help-text space-bottom-0">{% trans added_on=obj.created_on|date %}Added {{ added_on }}{% endtrans %}</p>
            <p class="vli-help-text">{{ obj.size|filesizeformat }}</p>
            <div class="space-top-10">
                <a href="{{ url_video }}?download=true">{% trans %}Download{% endtrans %}<span class="icon icon-down-circled"></span></a>
                <br>
                <a href="{{ url('video.html5', args=[obj.id, obj.slug]) }}">{% trans %}Play in Browser{% endtrans %}<span class="icon icon-play"></span></a>
            </div>
        </div>
    </div>
{% endmacro %}
