{% extends 'base.html' %}
{% import '_macros/forms.html' as forms with context %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {{ forms.csrf_input() }}
        <section>
            <h2 class="page-title">{{ form.instance.name }}</h2>
        </section>
        <section class="flex">
            <div class="flex-grow-1">
                {{ forms.field(form.name, show_label=False) }}
                {{ forms.field(form.markdown, show_label=False) }}
                <div class="markdown markdown-preview" data-for="id_markdown"></div>
            </div>
            <div class="space-left-10 width-180">
                <div class="tag-edit-sidebar-action">
                    <button class="btn btn-block btn-primary space-bottom-10">{% trans %}Save{% endtrans %}</button>
                    <button class="btn btn-block btn-error">{% trans %}Delete{% endtrans %}</button>
                </div>
            </div>
        </section>
    </form>
{% endblock %}
