{% macro tag_cover_list(tag_list) %}
    <div class="tcl">
        {% for tag in tag_list %}
            <div class="tcli-wrapper">
                <a href="{{ url('tag', args=[tag.id, tag.slug]) }}" class="tcli" title="{{ tag.name }}">
                    <img src="{{ tag.cover_url }}">
                    <div class="tcli-data">
                        <h3 class="tcli-heading">{{ tag.name }}</h3>
                        <div class="tcli-tl">{% for ctag in tag.children_list %}{{ ctag.name }}{% if not loop.last %}, {% endif %}{% endfor %}</div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endmacro %}
