{% extends 'base.html' %}
{% import '_macros/forms.html' as forms with context %}

{% block content %}
    <form action="" method="post" class="max-800">
        <h2>Create Tag</h2>
        {{ forms.non_field_errors(form) }}
        {{ forms.csrf_input() }}
        {{ forms.field(form.name, show_label=False) }}
        <div>
            <div class="left space-right-15">{{ forms.field(form.order) }}</div>
            <div class="left">{{ forms.field(form.pinned) }}</div>
            <div class="clear"></div>
        </div>
        <hr>
        {{ forms.field(form.markdown, show_label=False) }}
        <div class="markdown-preview" data-for="id_markdown"></div>
        <button type="submit" class="button">Create</button>
    </form>
{% endblock %}
