{% extends 'base.html' %}
{% import '_macros/utils.html' as utils with context %}

{% block content %}
    {% if not video_dict %}
        <p>There hasn't been any anime uploaded for {{ tag.name }} yet.</p>
    {% endif %}
    {% for upload_date, video_list in video_dict %}
        <h2 class="h2-heading">{{ upload_date|date('%A, %B %d' ) }}</h2>
        <div class="tl-no-columns">
            {% for v in video_list %}
                {% set url_tag_video = url('tag.video', args=[v.tag.id, v.tag.slug, v.id]) %}
                {% set url_video = url('video', args=[v.id, v.slug]) %}
                <div class="tli{% if loop.last %} space-bottom-15{% endif %}">
                    <a href="{{ url_video }}" class="left tli-download">
                        <span class="icon icon-down-circled tli-icon tli-icon-short"></span>
                    </a>
                    <a href="{{ url_tag_video }}" title="{{ v.name }}" class="tli-inner">
                        <span class="icon icon-play tli-icon"></span>
                        <span>{{ v.name }}</span>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    {% if video_list.paginator.num_pages > 1 %}
        <hr>
        <div class="space-top-20">
            {{ utils.pagination(video_list) }}
        </div>
    {% endif %}
{% endblock %}
