{% extends 'base.html' %}
{% import '_macros/widgets.html' as widgets with context %}

{% block content %}
    <div class="page-header">
        {% if user.is_staff %}
            <a href="{{ url('tag.edit', args=[tag.id, tag.slug]) }}" class="min-xs page-edit-link">{% trans %}Edit Tag{% endtrans %}</a>
        {% endif %}
        <h2 class="page-title">{{ tag.name }}</h2>
        {% if tag_children_list %}
            <div class="page-tag-list">
                {% for tag_c in tag_children_list %}
                    <a href="{{ url('tag', args=[tag_c.id, tag_c.slug]) }}" class="page-tag">{{ tag_c.name }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% if tag.html %}
        <div class="tag-html markdown">{{ tag.html|safe }}</div>
    {% endif %}
    {% for tag_p in tag_parent_list %}
        <div class="tli">
            <a href="{{ url('tag', args=[tag_p.id, tag_p.slug]) }}" title="{{ tag_p.name }}" class="space-right-10 tli-main">{{ tag_p.name }}</a>
            {% for tag_c in tag_p.children_list %}
                <a href="{{ url('tag', args=[tag_c.id, tag_c.slug]) }}" class="page-tag min-xs">{{ tag_c.name }}</a>
            {% endfor %}
            <div class="clear"></div>
        </div>
    {% endfor %}
    {% for video in video_list %}
        {{ widgets.video(video) }}
    {% endfor %}
{% endblock %}
