{% extends 'base.html' %}

{% block content %}
    {% if user.is_staff %}
        <div class="right min-md">
            <a href="{{ url('staff.tag.video', args=[tag.id]) }}" class="button button-primary tag-button space-right-10">Manage Videos</a>
            <a href="{{ url('staff.tag.edit', args=[tag.id]) }}" class="button button-primary tag-button">Edit Tag</a>
        </div>
    {% endif %}
    <h2 class="h2-heading">{{ tag.name }}</h2>
    {% if children_list %}
        <div class="ttl">
            {% for tag in children_list %}
                <a href="{{ url('tag', args=[tag.id, tag.slug]) }}" class="ttli">
                    <span class="ttli-text">{{ tag.name }}</span>
                </a>
            {% endfor %}
        </div>
    {% endif %}
    {% if parent_list %}
        <div class="tl">
            {% for tag in parent_list %}
                <div class="no-break-column">
                    <a href="{{ url('tag', args=[tag.id, tag.slug]) }}" class="tli" title="{{ tag.anme }}">
                        <div class="tli-inner">
                            <span class="icon icon-right-open tli-icon"></span>
                            <span>{{ tag.name }}</span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if tag.type == 'anime' %}
    {% endif %}
    {% if video_list %}
        <div class="tl">
            {% for video in video_list %}
                {% set url_video = url('video', args=[video.id, video.slug]) %}
                <div class="tli">
                    <a href="{{ url_video }}" class="left">
                        <span class="icon icon-down-circled tli-icon tli-icon-short"></span>
                    </a>
                    <a href="{{ url_video }}" class="block">
                        <span class="icon icon-play tli-icon"></span>
                        {% if video.episode %}
                            <span>Episode {{ video.episode }}</span>
                        {% else %}
                            <span>{{ video.name }}</span>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
