{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="breadcrumbs">
        {% if user.is_staff %}
            <a href="{% url 'label.edit' label.id label.slug %}" class="btn btn-small right">{% trans 'Edit' %}</a>
        {% endif %}
        {% if label.parent %}
            <a href="{% url 'label' label.parent.id label.parent.slug %}" class="breadcrumb">{{ label.parent.name }}</a>
        {% endif %}
        <span class="breadcrumb-active">{{ label.name }}</span>
    </div>
    {% if label.html %}
        <hr>
        <div class="container markdown">
            {{ label.html|safe }}
            <div class="clear"></div>
        </div>
    {% endif %}
    {% if label_children_list %}
        <hr>
        <ul class="ll">
            {% for label_child in label_children_list %}
                <li class="lli">
                    <a href="{% url 'label' label_child.id label_child.slug %}">
                        <span class="badge right">{{ label_child.count }}</span>
                        <span>{{ label_child.name }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if video_list %}
        <hr>
        {% include 'video/video-list-component.html' %}
    {% endif %}
{% endblock %}
