{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="breadcrumbs">
        {% if label.parent %}
            <a href="{% url 'label' label.parent.id label.parent.slug %}" class="breadcrumb">{{ label.parent.name }}</a>
        {% endif %}
        <span class="breadcrumb-active">{{ label.name }}</span>
        {% if user.is_staff %}
            <a href="{% url 'label.edit' label.id label.slug %}" class="btn btn-small right">{% trans 'Edit' %}</a>
        {% endif %}
    </div>
    {% if label.html %}
        <hr>
        <div class="container markdown">
            {{ label.html|safe }}
            <div class="clear"></div>
        </div>
    {% endif %}
    {% if label_children_list %}
        <hr>
        <ul class="ll">
            {% for label_child in label_children_list %}
                <li class="lli">
                    <a href="{% url 'label' label_child.id label_child.slug %}">
                        <span class="badge right">{{ label_child.count }}</span>
                        <span>{{ label_child.name }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if video_list %}
        <hr>
        <ul class="vl">
            {% for video in video_list %}
                <li class="vli">
                    <a href="#" class="block">
                        <div class="vli-cover">
                            {% if video.cover %}
                                <img src="">
                            {% else %}
                                <img src="{{ STATIC_URL }}images/no-preview.png">
                            {% endif %}
                        </div>
                        <div class="vli-info">
                            <span class="block">{{ video.name }}</span>
                            {% if video.file %}
                                <span>{{ video.file.size|filesizeformat }}</span>
                            {% endif %}
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
