{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="breadcrumbs">
        {% if user.is_staff %}
            <a href="{% url 'label.edit' label.id label.slug %}" class="btn btn-small right">{% trans 'Edit' %}</a>
        {% endif %}
        {% if label.parent %}
            <a href="{% url 'label' label.parent.id label.parent.slug %}" class="breadcrumb">{{ label.parent.name }}</a>
        {% endif %}
        <span class="breadcrumb-active">{{ label.name }}</span>
    </div>
    {% if label.html %}
        <hr>
        <div class="container markdown">
            {{ label.html|safe }}
        </div>
        <div class="clear"></div>
    {% endif %}
    {% if label_children_list %}
        <hr>
        {% include 'label/label-list-component.html' with label_list=label_children_list %}
    {% endif %}
    {% if video_list %}
        <hr>
        {% include 'video/video-list-component.html' %}
    {% endif %}
{% endblock %}
