/* --------------------------------------------------
    account page styles
---------------------------------------------------*/

.account-content {
    .flex-display();
    .align-items(center);
    .justify-content(center);

    background-color: #222;
    padding: 30px 0 60px;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    input + input { border-top: none; }

}

.account-form {
    max-width: 320px;
    padding: 15px;
    width: 100%;
}

.account-h2 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;
}

.account-content #message-list {
    > .message {
        color: #fff;
        background-color: @warning-border;
        margin-bottom: 10px;
        > .icon-cancel { display: none; }
    }
}
