/* -----------------------------------------------------------------------------
    account styles
----------------------------------------------------------------------------- */

.account-content {}

.account-form {
    margin: 30px auto;
    max-width: 320px;
    padding: 15px;
    width: 100%;
}

@media screen and (min-height: 450px) and (max-height: 599px) {
    .account-form {
        margin-top: 60px;
    }
}

@media screen and (min-height: 600px) {
    .account-form {
        margin-top: 120px;
    }
}

.account-h2 {
    color: #eee;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
}
