/* --------------------------------------------------
    app styles
---------------------------------------------------*/

#message-list {
    list-style-type: none;
}

.message {
    border: 1px solid transparent;
    margin-bottom: 10px;
    padding: 10px;
}

.message-success {
    background-color: @message-bg-success;
    border-color: @message-border-success;
}

.icon-cancel {
    cursor: pointer;
}
