/* -----------------------------------------------------------------------------
    nav styles
----------------------------------------------------------------------------- */

nav {
    background-color: #333;
    border-right: 1px solid #3b3b3b;
    overflow: auto;
    padding: 20px;
    width: @nav-width;

    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    z-index: 750;
}

.nav-header {
    color: #eee;
    display: block;
    font-size: 14px;
    margin: 10px 0;
    text-transform: uppercase;

    &:first-of-type { margin-top: 0; }
}

.nav-link {
    color: #eee;
    display: block;
    padding: 5px;
    > .icon {
        margin-right: 5px;
    }
}

@media screen and (min-width: @screen-sm) {
    nav {
        .transform(translateZ(0));
    }
}

@media screen and (max-width: @screen-sm1) {
    nav {
        .transition(300ms ease all);
        .transform(translate3d(-100%, 0, 0));

        background-color: #222;
        width: 70%;

        &.active {
            .transform(translate3d(0, 0, 0));
        }
    }
}
