/* --------------------------------------------------
    base content styles
---------------------------------------------------*/

.content {
    color: #eee;
    margin-top: 50px;
    margin-left: @nav-width;
}

@media screen and (max-width: @screen-sm1) {
    .content {
        margin-left: 0;
    }
}
