/* -----------------------------------------------------------------------------
    nav styles
----------------------------------------------------------------------------- */

nav {
    border-right: 1px solid #3b3b3b;
    padding: 15px;
    width: @nav-width;

    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
}

.nav-header {
    color: #ccc;
    display: block;
    font-size: 14px;
    margin: 10px 0;
    text-transform: uppercase;
}

.nav-link {
    color: #eee;
    display: block;
    padding: 5px;
    > .icon {
        margin-right: 5px;
    }
}
