/* -----------------------------------------------------------------------------
    header styles
----------------------------------------------------------------------------- */

header {
    .flex-display();

    background-color: rgba(0, 0, 0, 0.75);
    height: 50px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

@media screen and (min-width: @screen-md) {
    header {
        padding-right: 20px;
    }
}

.header-logo {
    .inline-block();

    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 50px;
    padding: 0 30px;
    vertical-align: middle;
}

.header-form {
    .flex-grow(1);
    .flex-display();
}

#header-search-input, #header-search-button {
    .inline-block();
    .transparent(100);
    border: none;
    height: 50px;
}

#header-search-input {
    background-color: #000;
    border-right: none;
    color: #fff;
    line-height: 24px;
    padding: 13px 15px;
}

@media screen and (min-width: @screen-md) {
    #header-search-input {
        max-width: 400px;
    }
}

#header-search-button {
    background-color: @color-accent3;
    border-left: none;
    line-height: 50px;
    padding: 0 10px;
    text-align: center;
}

#header-menu-button {
    background-color: #333;
    color: #fff;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}

.header-link {
    .inline-block();

    color: #fff;
    font-size: 15px;
    line-height: 50px;
    padding: 0 15px;
}

.header-gravatar {
    .inline-block();

    height: 30px;
    margin: 10px 5px 10px 0;
    width: 30px;
}
