/* --------------------------------------------------
    header styles
---------------------------------------------------*/

header {
    .transform(translateZ(0));

    background-color: #222;
    border-bottom: #000;
    height: 50px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#header-menu-icon, #header-search-icon {
    -webkit-tap-highlight-color: transparent;
    color: #fff;
    cursor: pointer;
    display: block;
    height: 50px;
    line-height: 50px;
    width: 50px;
    text-align: center;
}
#header-menu-icon {
    font-size: 24px;
    float: left;
}
#header-search-icon {
    font-size: 20px;
    float: right;
}

.header-heading {
    .inline-block();
    background-color: #444;
    border-right: 1px solid #000;
    width: @nav-width;

    > a {
        color: #fff;
        display: block;
        font-size: 20px;
        font-weight: @font-weight-base;
        line-height: 50px;
        padding: 0 15px;
        text-align: left;
    }
}
@media screen and (min-width: @screen-xs) and (max-width: @screen-md1) {
    .header-heading { display: none; }
}
@media screen and (max-width: @screen-xs1) {
    .header-heading {
        background-color: #222;
        border-right: none;
        display: block;
        width: 100%;
        > a { text-align: center; }
    }
}

.header-menu {
    padding: 0 15px;
    > a {
        .inline-block();
        color: #ccc;
        line-height: 50px;
        padding: 0 15px;
        &:hover, &.active { color: #fff; }
        &.active { background-color: #000; }
    }
}

#header-search {
    .inline-block();
    margin: 6px 10px;

    > input {
        border: 1px solid #000;
        height: 36px;
    }
}

@media screen and (min-width: @screen-md) {
    #header-search > input { width: 400px; }
}
@media screen and (max-width: @screen-md1) {
    #header-search > input { width: 300px; }
}
