/* --------------------------------------------------
    label styles
---------------------------------------------------*/

.ll {
    .column-width(300px);
    .column-gap(0);
    padding: 10px;
}

.lli {
    .inline-block();
    padding: 5px;
    width: 100%;

    > a {
        .transition(ease 100ms all);
        .border-radius(3px);

        background-color: #fff;
        border: 1px solid #e5e5e5;
        display: block;
        padding: 12px 18px;
        white-space: nowrap;
        overflow: hidden;
        &:hover { border-color: lighten(@color-accent1, 30%); }

        > span {
            display: block;
            overflow: hidden;
        }
        > .badge { margin-left: 1px; }
    }
}

@media screen and (max-width: @screen-xs1) {
    .ll { padding: 7px; }
    .lli { padding: 3px; }
}
