/* --------------------------------------------------
    staff styles
---------------------------------------------------*/

.staff-video-add-label {
    font-size: 13px;
    overflow: hidden;
    max-width: 100%;
}

.staff-input[type="text"] {
    font-size: 13px;
    line-height: 24px;
    padding: 3px 5px;
    height: 30px;
}

.staff-video-list > tr{
    background-color: #fff;
}
