/* -----------------------------------------------------------------------------
    tag styles
----------------------------------------------------------------------------- */

@tli-padding: 10px;

.tl {
    .flex-display();
    .flex-wrap(wrap);
    list-style-type: none;
    margin: -1 * @tli-padding;
}

.tli {
    padding: @tli-padding;
    position: relative;
}


@media screen and (max-width: 767px) {
    .tl {
        display: block;
        padding: 0 15px;
        margin: 0 -20px;
        white-space: nowrap;
        overflow: auto;
    }
    .tli {
        .inline-block();
        padding: 5px;
        white-space: normal;
    }
}

@media screen and (max-width: 399px) {
    .tli { width: 140px; }
}
@media screen and (min-width: 400px) and (max-width: 767px) {
    .tli { width: 200px; }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .tli { width: 100/3%; }
}
@media screen and (min-width: 1024px) and (max-width: 1199px) {
    .tli { width: 100/4%; }
}
@media screen and (min-width: 1200px) and (max-width: 1559px) {
    .tli { width: 100/6%; }
}
@media screen and (min-width: 1560px) {
    .tli { width: 100/8%; }
}
@media screen and (min-width: 1800px) {
    .tli { width: 100/10%; }
}

.tli-title {
    background-color: #2a2a2a;
    color: #eee;
    display: block;
    overflow: hidden;
    padding: 10px;
}

/* -----------------------------------------------------------------------------
    tag text only styles
----------------------------------------------------------------------------- */

.tag-html {
    margin-bottom: 20px;
}

.tag-item-list {
    margin: -15px -2px 15px -2px;
}

.tag-item {
    .border-radius(@border-radius);
    background-color: #444;
    color: #eee;
    font-size: 13px;
    margin: 2px;
    padding: 3px 6px;
}

.tag-video-separator {
    border: none;
    border-top: 1px solid #444;
    margin: 20px 0;
}

.tag-video-item {
    display: block;
}

.tl2 {

}
.tli2 {

}
