/* --------------------------------------------------
    tag styles
---------------------------------------------------*/

.tag-html {
    padding: 15px 0;
}

.tli {
    border-top: 1px solid #ddd;
    display: block;
    padding: 10px 0;
}

.page-header + .tli { border-top: none; }

@media screen and (min-width: @screen-md) {
    .tli { padding: 6px 0; }
}
