/* -----------------------------------------------------------------------------
    video styles
----------------------------------------------------------------------------- */

.vli {
    .flex-display();
    margin-bottom: 20px;
}

.vli-cover {
    display: block;
    max-width: 192px;
    margin-right: 10px;
}

.vli-title {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

.vli-help-text {
    font-size: 14px;
}

.video-action-separator {
    color: #666;
    margin-right: 2px;
}

.video-html5-related {

}

.video-html5-next {
    float: right;
}

.video-jump-container {
    position: relative;
}
.video-jump {
    margin-bottom: 100px;
    position: absolute;
    top: -70px;
}
